.contact {
    min-height: fit-content;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
    background-image: url("../assets/bg.png");
    color: aliceblue;
}

.contact-container .form-row {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row label {
    font-size: 1.5em;
    margin-right: 0.75em;
}

.form-row input,
.form-row textarea {
    border: none;
    border-radius: 1%;
}

.form-row input {
    height: 2em;
    padding: 0.2em;
    width: 24em;
}

.form-row textarea {
    padding: 0.5em;
}

.contact-container button {
    padding: 0.3em 0.55em;
    font-size: 1em;
    cursor: pointer;
}
