.landing {
    min-height: 100vh;
    background-image: url("../assets/bg.png");
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.landing-container {
    margin: 0;
    min-width: fit-content;
}

.landing-container > h1 {
    font-size: 9em;
}

.landing-container > h3 {
    font-size: 2.7em;
    margin-bottom: 0.25em;
}

.landing-container > h5 {
    font-size: 1.5em;
}
