.projects {
    min-height: 80vh;
    background-color: #1f3050;
    color: aliceblue;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
}

.project {
    margin: 3em;
    padding: 0 0.1em;
}

.project h5 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.project img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.project .technologies > li {
    margin-top: 0.75em;
    padding: 0.5em;
}

.project:hover {
    box-shadow: 0 0 10px 2px RGBA(180, 180, 180, 0.3);
    background-color: RGBA(180, 180, 180, 0.05);
    border-radius: 4%;
}
