* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
}

.section {
    padding: 4em;
}

.title {
    margin-bottom: 2em;
    font-size: 2.5em;
    font-weight: 700;
}

.rounded-div {
    border-radius: 10px;
}
/* #1f3050
#fafff8
#232528 */
