* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.section {
    padding: 4em;
}

.title {
    margin-bottom: 2em;
    font-size: 2em;
}

.rounded-div {
    border-radius: 10px;
}
/* #1f3050
#fafff8
#232528 */
